html{
    height:100%;
}
body{
    height: 70%;
    margin:0px;
    display: flex;
    background-color: #341920;
	/* background-size: cover; */
	/* background-position: center center; */
}

#container{
    margin: auto;
    padding: 0px 20px;
}
/*Panels*/
.Panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 10px;
}
#Icons{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
}
/*Tiles*/
.tile{
    padding:10px;
    margin:10px;
    background-color:#255354;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    transition: box-shadow 0.2s ease-in-out;
	border-radius: 9px;
}
/* .tile:hover{ */
    /* box-shadow: 0px 0px 10px 2px #00D2FF; */
/* } */
.searchBar{
    display: flex;
    /* margin: 15px 0px; */
}
/*Images in Icon Tiles*/
.icon a img{
	width:48px;
	height:48px;
}
.icon:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px 2px #60B3C4;
}

/*Search Bars*/
input{
    flex-grow: 1;
    padding: 8px;
    /* border: 0px; */
	/* border-radius: 9px; */
    /* margin: auto 10px; */
    /* background-color: #1A252B; */
    width: 40px;
	font-weight: bold;
	font-size: 16px; 
    font-size: 2vw;
	text-align: center;
	outline:none;
	caret-color: transparent !important;
	border: none;
    background: transparent;
}
::placeholder{
	color: black;
	font-family: 'Open Sans', sans-serif;
}
input, select, textarea{
    font-family: 'Open Sans', sans-serif;
}

#clock {
    font-family: 'Space Mono', monospace;
    text-align: center;
	font-weight: bold;
    position: relative;
    color:#255354;
    /* text-shadow: 0 0 3vh rgba(10, 175, 230, 1),  0 0 3vh rgba(10, 175, 230, 0); */
}
.time {
		letter-spacing: 0.05em;
		font-size: 3.5vh;
		padding: 5px 0;
	}
.date {
		letter-spacing: 0.1em;
		font-size: 3.5vh;
	}